body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'RedHatMono-Light';
  src: local('RedHatMono-Light'), url(./fonts/RedHatMono-Light.ttf) format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'RedHatMono-Regular';
  src: local('RedHatMono-Regular'), url(./fonts/RedHatMono-Regular.ttf) format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'RedHatMono-Bold';
  src: local('RedHatMono-Bold'), url(./fonts/RedHatMono-Bold.ttf) format('truetype');
  font-weight: bold;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.dapp-core-ui-component{
  position: fixed;
  z-index: 999;
  padding-top: 100px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  border: 2px solid #aaa;
}

